# ======================
# Django
# ======================
DEBUG=True
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=localhost,127.0.0.1
# Can be [local, dev]
ENVIRONMENT=local

# ======================
# Database
# ======================
DB_NAME=django-db
DB_USER=admin
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

# ======================
# Redis
# ======================
REDIS_HOST=redis
REDIS_PORT=6379

# ======================
# Celery
# ======================
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# ======================
# CORS
# ======================
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# ======================
# Admin credentials
# ======================
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin1234
ADMIN_EMAIL=admin@example.com